### http://www.jinbuguo.com/systemd/systemd.service.html
### http://www.ruanyifeng.com/blog/2016/03/systemd-tutorial-commands.html
### https://zh.opensuse.org/openSUSE:How_to_write_a_systemd_service
### if you need send C-c to terminal let it be done, that's not forkking Type, you should use simple Type
### this file is /etc/systemd/system/battery.notifier.service
### and it must be in /etc/systemd/system/
### systemctl daemon-reload
### systemctl enable battery.notifier.service
### systemctl start battery.notifier.service
### systemctl status battery.notifier.service
### journalctl -u battery.notifier.service
###
### systemctl stop battery.notifier will stop it and it doesn't need ExecStop
### but if there's ExecStop, systemctl stop will use it
### the default file type is service not target, so you can use battery.notifier short for battery.notifier.service
### systemd does not understand shell syntax, it means you can't use $() or & in ExecStart, and it must use absolute path

[Unit]
Description=Battery Notifier
### run after dnsmasq, because when I open dnsmasq after Xorg by hand, and it needs Xorg
After=dnsmasq.service

[Service]
Type=simple
Environment="DISPLAY=:0"
ExecStart=/usr/bin/python3 /home/jusss/lab/battery.eeepc.py
# RestartSec=60
# TimeoutStartSec=120
Restart=no

[Install]
WantedBy=multi-user.target

