[Unit]
Description= mount to /mnt/john
Requires= mnt-john.mount
After= mnt-john.mount

[Service]
Type=simple
### Environment="DISPLAY=:0.0"
### ExecStartPre run before ExecStart, and ExecStartPost run after ExecStart
### 如果要一次设置多个命令，那么可以使用分号(;)将多个命令行连接起来。 注意，仅在设置了 Type=oneshot 的前提下，才可以一次设置多个命令。 分号自身必须用 "\;" 表示。
ExecStart= /bin/chown -R john:john /mnt/john
ExecStartPost= /bin/chmod 700 /mnt/john
### but I got /mnt/john drwx--S---, someone tell me it's setuid withoud execute permissions
Restart=always
RestartSec=300

[Install]
WantedBy=multi-user.target

