### this is grub.cfg for debian jessie on cube i6 air tablet
### boot from BIOS, press 'boot from file' choose bootia32.efi on usb-stick, and you will get into grub2
### bootia32.efi has a grub2 shell I think, after that, run 'configfile (hd0,1)/tablet.grub.cfg' will boot debian
### add this parameters to linux line, and it seems like that solved tsc clocksource is unstable problem

menuentry 'debian 4.4.1'{
insmod efi_gop
insmod efi_uga
insmod video_bochs
insmod video_cirrus
insmod all_video
insmod gzio
insmod part_gpt
insmod ext2
set gfxpayload=keep
set root=(hd1,gpt20)
# https://communities.intel.com/thread/60984
# https://bugzilla.kernel.org/show_bug.cgi?id=109051
# some parameters will cause intel baytrail cpu random freeze, even use intel_idle.max_cstate=1 parameter, so don't use other parameters
# linux /boot/vmlinuz-4.4.1 root=/dev/mmcblk0p20 rw irqpoll i915.modeset=1 threadirqs intel_iommu=igfx-off clocksource=tsc tsc=reliable force_tsc_stable=1 clocksource_failover=tsc intel_idle.max_cstate=1
linux /boot/vmlinuz-4.4.1 root=/dev/mmcblk0p20 rw clocksource=tsc tsc=reliable force_tsc_stable=1 clocksource_failover=tsc intel_idle.max_cstate=1
initrd /boot/initrd.img-4.4.1
} 

menuentry 'debian 3.16.0'{
insmod efi_gop
insmod efi_uga
insmod video_bochs
insmod video_cirrus
insmod all_video
insmod gzio
insmod part_gpt
insmod ext2
set gfxpayload=keep
set root=(hd1,gpt20)
linux /boot/vmlinuz-3.16.0-4-amd64 root=/dev/mmcblk0p20 rw clocksource=tsc tsc=reliable force_tsc_stable=1 clocksource_failover=tsc intel_idle.max_cstate=1

initrd /boot/initrd.img-3.16.0-4-amd64
} 
