CONFIG_AXP288_FUEL_GAUGE=y
CONFIG_INPUT_SOC_BUTTON_ARRA
CONFIG_PWM_LPSS=m
CONFIG_SND_SOC=m
CONFIG_SND_SIMPLE_CARD=m
CONFIG_SND_DESIGNWARE_I2S=m
CONFIG_SND_ATMEL_SOC=m
CONFIG_SND_SOC_INTEL_SST=m
CONFIG_SND_SOC_INTEL_SST_ACPI=m
CONFIG_SND_SOC_INTEL_HASWELL_MACH=m
CONFIG_SND_SOC_INTEL_BROADWELL_MACH=m
CONFIG_SND_SOC_INTEL_BAYTRAIL=m
CONFIG_SND_SOC_RT286=m
CONFIG_SND_SOC_RT5640=m
CONFIG_SND_SOC_INTEL_BYT_RT5640_MACH=m

reference:
https://www.happyassassin.net/fedlet-a-fedora-remix-for-bay-trail-tablets/comment-page-3/
https://wiki.gnome.org/BastienNocera/Ondav975w
http://forum.xda-developers.com/showthread.php?t=2500078&page=15
https://bugs.freedesktop.org/attachment.cgi?id=121161&action=edit

grub2:
linux /bot/vmlinuz root=/dev/mmcblk0p20 rw irqpoll i915.modeset=1 threadirqs intel_iommu=igfx-off
clocksource=tsc tsc=reliable
好像解决了tsc时钟源不可靠问题


